fastapi
alembic==1.13.1
argcomplete==2.0.0
bcrypt==4.1.2
Beaker==1.12.1
cryptography==41.0.7
email_validator==2.1.1
pydantic==2.7.0
ujson==5.9.0
pydantic-settings==2.2.1
psycopg==3.1.18
psycopg-binary==3.1.18
psycopg2-binary==2.9.9
