fastapi
alembic==1.13.1
argcomplete==2.0.0
bcrypt==4.1.2
Beaker==1.12.1
cryptography==41.0.7
email_validator==2.1.1
pydantic==2.7.0
ujson==5.9.0
pydantic-settings==2.2.1
psycopg==3.1.18
psycopg-binary==3.1.18
psycopg2-binary==2.9.9
python-jose==3.3.0
passlib==1.7.4
ptyprocess==0.7.0
pyasn1==0.6.0
pycairo==1.25.1
pycparser==2.20
pycrypto==2.6.1
pycups==2.0.1
pycurl==7.45.2
pydantic==2.7.0
pydantic-extra-types==2.6.0
pydantic-settings==2.2.1
pydantic_core==2.18.1
PyGObject==3.46.0
pyOpenSSL==23.2.0
pyparsing==3.0.9
PySocks==1.7.1
